/**
 * Settings
 */
:root {
    --primary: #A0AECD;
    --primary-dark: #324060;
    --white: #ffffff;
}

/**
 * Fonts
 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?bi1smt');
    src:  url('../fonts/icomoon.eot?bi1smt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bi1smt') format('truetype'),
    url('../fonts/icomoon.woff?bi1smt') format('woff'),
    url('../fonts/icomoon.svg?bi1smt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-trash-2:before {
    content: "\e1032";
}
.icon-x:before {
    content: "\e1029";
}
.icon-x-circle:before {
    content: "\e1031";
}
.icon-zap:before {
    content: "\e1030";
}
.icon-php:before {
    content: "\e1026";
}
.icon-symfony:before {
    content: "\e1027";
}
.icon-activity:before {
    content: "\e1000";
}
.icon-alert-circle:before {
    content: "\e1001";
}
.icon-alert-triangle:before {
    content: "\e1002";
}
.icon-bell:before {
    content: "\e1003";
}
.icon-check:before {
    content: "\e101a";
}
.icon-clock:before {
    content: "\e1004";
}
.icon-code:before {
    content: "\e1005";
}
.icon-codepen:before {
    content: "\e1006";
}
.icon-codesandbox:before {
    content: "\e1007";
}
.icon-command:before {
    content: "\e1008";
}
.icon-cpu:before {
    content: "\e101b";
}
.icon-database:before {
    content: "\e1009";
}
.icon-filter:before {
    content: "\e100a";
}
.icon-flag:before {
    content: "\e101c";
}
.icon-git-branch:before {
    content: "\e101d";
}
.icon-git-commit:before {
    content: "\e101e";
}
.icon-git-merge:before {
    content: "\e101f";
}
.icon-git-pull-request:before {
    content: "\e100b";
}
.icon-globe:before {
    content: "\e1020";
}
.icon-hard-drive:before {
    content: "\e100c";
}
.icon-help-circle:before {
    content: "\e100d";
}
.icon-info:before {
    content: "\e100e";
}
.icon-layers:before {
    content: "\e100f";
}
.icon-list:before {
    content: "\e1021";
}
.icon-menu:before {
    content: "\e1022";
}
.icon-monitor:before {
    content: "\e1023";
}
.icon-more-horizontal:before {
    content: "\e1010";
}
.icon-more-vertical:before {
    content: "\e1011";
}
.icon-package:before {
    content: "\e1012";
}
.icon-power:before {
    content: "\e1024";
}
.icon-save:before {
    content: "\e1013";
}
.icon-send:before {
    content: "\e1025";
}
.icon-server:before {
    content: "\e1014";
}
.icon-settings:before {
    content: "\e1015";
}
.icon-sliders:before {
    content: "\e1016";
}
.icon-terminal:before {
    content: "\e1017";
}
.icon-tool:before {
    content: "\e1018";
}
.icon-triangle:before {
    content: "\e1019";
}
.icon-alert-octagon:before {
    content: "\e1028";
}
/*.icon-x:before {*/
/*    content: "\e1029";*/
/*}*/
/*.icon-x-circle:before {*/
/*    content: "\e1030";*/
/*}*/
/*.icon-x-octagon:before {*/
/*    content: "\e1031";*/
/*}*/
/*.icon-x-square:before {*/
/*    content: "\e1032";*/
/*}*/
.icon-box-round {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
}

/*
 * Layout
 */
.sib-content a {
    color: var(--primary-dark);
}
.sib-content a:hover {
    color: var(--primary);
}

.system-box {
    display: flex;
    align-items: center;
    background: var(--primary);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    color: white;
}
.system-box .inner {
    padding: 10px;
    z-index: 10;
}
.system-box .inner h4 {
    font-size: 22px;
}
.system-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,.15);
}

.system-list {
    margin-bottom: 10px;
}
.system-list_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.system-list_item.system-list_item--icon {
    margin-left: 20px;
    border-radius: 20px;
}
.system-list_item.system-list_item--icon .system-list_item-element:first-child {
    margin-left: -15px;
}
.flex-grow {
    flex-grow: 1;
}

.m-10 {
    margin: 10px;
}
.my-10 {
    margin: 10px 0;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-5 {
     margin-left: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-0 {
    margin-bottom: 0;
}
.mx-5 {
    margin: 0 15px;
}
.mw-200 {
    min-width: 200px;
}

.color-success {
    color: #81C784 !important;
}
.color-warning {
    color: #E3A550 !important;
}
.color-error {
    color: #D65B32 !important;
}
.bg-color-success {
    background-color: #81C784 !important;
}
.bg-color-warning {
    background-color: #E3A550 !important;
}
.bg-color-error {
    background-color: #D65B32 !important;
}
.bg-color-success--light {
    background-color: #E8F5E9 !important;
}
.bg-color-warning--light {
    background-color: #FFF8E1 !important;
}
.bg-color-error--light {
    background-color: #FBE9E7 !important;
}
.icon-hint:after {
    content: '';
    display: block;
    position: absolute;
    background: #D65B32;
    width: 6px;
    bottom: 17px;
    height: 6px;
    border-radius: 3px;
    transition: fadeIn 2s;
}
.pill {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 25px;
    color: #aaa;
    margin: 0 5px;
    font-size: 12px;
    background: #fff;
    text-align: center;
    min-width: 25px;
}
.pill.bg-color-warning {
    border-color: #E3A550;
    color: #fff;
}
.pill.bg-color-error {
    border-color: #D65B32;
    color: #fff;
}
.collapse-btn {
    width: 100%;
    text-align: left;
    border: 1px solid#eee;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin: 10px 0;
}
.text-right {
    text-align: right;
}
.text-disabled {
    color: #777;
}
.text-disabled:hover {
    cursor: not-allowed;
}
.panel-heading h3 {
    margin: 5px 0;
    font-size: 22px;
}
.panel-body h4 {
    margin: 30px 0 20px 0;
    font-size: 16px;
}
[data-toggle="tooltip"][title]:hover {
    cursor: help;
}
.page-header {
    border-bottom: 0;
}

/* Tables */
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-success, .table-success>td, .table-success>th {
    background-color: #c3e6cb;
}
.table-warning, .table-warning>td, .table-warning>th {
    background-color: #ffeeba;
}
.table-danger, .table-danger>td, .table-danger>th {
    background-color: #f5c6cb;
}
.table-info, .table-info>td, .table-info>th {
    background-color: #bee5eb;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #fff;
}

/**
 * Form
 */

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.system-results {
    flex-grow: 1;
    text-align: center;
}

/*
 * Grid
 */
@media (min-width: 1500px) {
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left
    }

    .col-xl-12 {
        width: 100%
    }

    .col-xl-11 {
        width: 91.66666667%
    }

    .col-xl-10 {
        width: 83.33333333%
    }

    .col-xl-9 {
        width: 75%
    }

    .col-xl-8 {
        width: 66.66666667%
    }

    .col-xl-7 {
        width: 58.33333333%
    }

    .col-xl-6 {
        width: 50%
    }

    .col-xl-5 {
        width: 41.66666667%
    }

    .col-xl-4 {
        width: 33.33333333%
    }

    .col-xl-3 {
        width: 25%
    }

    .col-xl-2 {
        width: 16.66666667%
    }

    .col-xl-1 {
        width: 8.33333333%
    }
}
.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

/**
 * Extension
 */
#system-indicator-extension--icon {
    transition: ease 1s;
}
#system-indicator-extension {
    min-width: 300px
}
#system-indicator-extension--clear-cache--spinner {
    display: none;
}

/**
 * Nav
 */
.system-nav {
    margin-bottom: 8px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.system-nav-link {
    background: white;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ddd;
    color: inherit;
}
.system-nav-link i {
    color: #aaa;
    top: 4px;
    position: relative;
    font-size: 20px;
}
.system-nav-link.active, .system-nav-link:hover{
    background: #f5f5f5;
    cursor: pointer;
    color: inherit;
    border-bottom: 0;
}
.system-nav-link.active i, .system-nav-link:hover i {
    color: var(--primary);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    text-align: left;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/**
 * CSS Loader
 */
.spinner {
    /* margin: 100px auto 0; */
    width: 70px;
    text-align: center;

    transform: scale(.25);
    display: inline-block;
    margin: 0;
    float: right;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #E3A550;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
