/**
 * Fonts
 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5ai0pr');
    src:  url('../fonts/icomoon.eot?5ai0pr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5ai0pr') format('truetype'),
    url('../fonts/icomoon.woff?5ai0pr') format('woff'),
    url('../fonts/icomoon.svg?5ai0pr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-php:before {
    content: "\e1026";
}
.icon-symfony:before {
    content: "\e1027";
}
.icon-activity:before {
    content: "\e1000";
}
.icon-alert-circle:before {
    content: "\e1001";
}
.icon-alert-triangle:before {
    content: "\e1002";
}
.icon-bell:before {
    content: "\e1003";
}
.icon-check:before {
    content: "\e101a";
}
.icon-clock:before {
    content: "\e1004";
}
.icon-code:before {
    content: "\e1005";
}
.icon-codepen:before {
    content: "\e1006";
}
.icon-codesandbox:before {
    content: "\e1007";
}
.icon-command:before {
    content: "\e1008";
}
.icon-cpu:before {
    content: "\e101b";
}
.icon-database:before {
    content: "\e1009";
}
.icon-filter:before {
    content: "\e100a";
}
.icon-flag:before {
    content: "\e101c";
}
.icon-git-branch:before {
    content: "\e101d";
}
.icon-git-commit:before {
    content: "\e101e";
}
.icon-git-merge:before {
    content: "\e101f";
}
.icon-git-pull-request:before {
    content: "\e100b";
}
.icon-globe:before {
    content: "\e1020";
}
.icon-hard-drive:before {
    content: "\e100c";
}
.icon-help-circle:before {
    content: "\e100d";
}
.icon-info:before {
    content: "\e100e";
}
.icon-layers:before {
    content: "\e100f";
}
.icon-list:before {
    content: "\e1021";
}
.icon-menu:before {
    content: "\e1022";
}
.icon-monitor:before {
    content: "\e1023";
}
.icon-more-horizontal:before {
    content: "\e1010";
}
.icon-more-vertical:before {
    content: "\e1011";
}
.icon-package:before {
    content: "\e1012";
}
.icon-power:before {
    content: "\e1024";
}
.icon-save:before {
    content: "\e1013";
}
.icon-send:before {
    content: "\e1025";
}
.icon-server:before {
    content: "\e1014";
}
.icon-settings:before {
    content: "\e1015";
}
.icon-sliders:before {
    content: "\e1016";
}
.icon-terminal:before {
    content: "\e1017";
}
.icon-tool:before {
    content: "\e1018";
}
.icon-triangle:before {
    content: "\e1019";
}


/*
 * Layout
 */

.system-box {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}
.system-box i {
    padding: 20px 10px;
    font-size: 40px;
    color: #ccc;
}

.mr-5 {
    margin-right: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}
.color-warning {
    color: orange;
}
.color-error {
    color: red;
}

/* Tables */
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-success, .table-success>td, .table-success>th {
    background-color: #c3e6cb;
}
.table-warning, .table-warning>td, .table-warning>th {
    background-color: #ffeeba;
}
.table-danger, .table-danger>td, .table-danger>th {
    background-color: #f5c6cb;
}
.table-info, .table-info>td, .table-info>th {
    background-color: #bee5eb;
}