<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    {% for info in teaser %}
        <tr>
            <td style="width: 80px;">
                <a href="{{ info.route }}"><div class="{{ info.class is defined ? 'bg-' ~ info.class }}" style="width: 60px; height: 60px; border-radius: 30px; display: block; background-color: #A0AECD;"></div></a>
            </td>
            <td>
                <h3 style="margin-bottom: 0; font-size: 20px;">{{ info.value }}</h3>
                <p style="margin-top: 0;margin-bottom: 25px;">{{ info.description }}</p>
            </td>
        </tr>
    {% endfor %}
</table>