{% extends 'bundles/SonataAdminBundle/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/systeminformation/css/base.css') }}">
{% endblock %}

{% block sonata_page_content_header %}
    <div class="page-header">
        <h2>{{ 'dashboard.general.heading'|trans({}, 'SystemInformationBundle') }}</h2>
    </div>
{% endblock %}

{% block content %}
    {% include '@SystemInformationBundle/partials/information_teaser.html.twig' with { information } %}
    <div class="row">
        <div class="col-md-12 col-xl-6">
            {% include '@SystemInformationBundle/partials/monitoring.html.twig' with { checks } %}
            {% include '@SystemInformationBundle/partials/requirements.html.twig' with { requirements } %}
        </div>
        <div class="col-md-12 col-xl-6">
            {% include '@SystemInformationBundle/partials/logs.html.twig' with { logs } %}
            {% include '@SystemInformationBundle/partials/information_extended.html.twig' with { infos } %}
        </div>
    </div>
{% endblock %}