{% extends 'bundles/SonataAdminBundle/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/systeminformation/css/base.css') }}">
{% endblock %}

{% block content %}
    <div class="sib-content">
        {% include '@SystemInformationBundle/partials/information_teaser.html.twig' with { teaser } %}

        <div class="page-header">
            <h2>{{ 'dashboard.general.heading'|trans({}, 'SystemInformationBundle') }}</h2>
        </div>

        {% include '@SystemInformationBundle/partials/navigation.html.twig' %}

        {% block main %}
        {% endblock %}
    </div>
{% endblock %}